@page "/user/copy-experts"
@layout Layout.UserLayout
@attribute [Authorize]
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<link href="pages/copy-experts.css" rel="stylesheet" />

<div class="scrollbar-hide css-66hwna">
    <div class="css-583r6g">
        <div class="mid_section">
            <div class="mid_section_top"><p>Experts</p></div>
            <div class="copyexperts_cards_wrapper">
                <div class="grids css-113fuih">
                    <div class="css-8s2u8p">
                        <div class="copyexperts_card_top">
                            <div class="copyexperts_card_info">
                                <img src="https://res.cloudinary.com/dtqmd9yla/image/upload/v1741709349/IMG_8267_z9nvoz.jpg" alt="Cavell Anderson" />
                                <span style="display: flex; align-items: center; gap: 4px;">
                                    <p class="expert_name">Cavell Anderson</p>
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="16"
                                         height="16"
                                         viewBox="0 0 24 24"
                                         fill="none"
                                         stroke="#31acee"
                                         stroke-width="1.5"
                                         stroke-linecap="round"
                                         stroke-linejoin="round"
                                         class="lucide lucide-badge-check info_icon">
                                        <path d="M3.85 8.62a4 4 0 0 1 4.78-4.77 4 4 0 0 1 6.74 0 4 4 0 0 1 4.78 4.78 4 4 0 0 1 0 6.74 4 4 0 0 1-4.77 4.78 4 4 0 0 1-6.75 0 4 4 0 0 1-4.78-4.77 4 4 0 0 1 0-6.76Z"></path>
                                        <path d="m9 12 2 2 4-4"></path>
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <div class="copyexperts_card_details">
                            <div class="copyexperts_card_detail">
                                <p>Followers</p>
                                <p>18,320</p>
                            </div>
                            <div class="copyexperts_card_detail">
                                <p>Win rate</p>
                                <p>83%</p>
                            </div>
                            <div class="copyexperts_card_detail">
                                <p>Profit share</p>
                                <p>10%</p>
                            </div>
                            <div class="copyexperts_card_detail">
                                <p>Wins</p>
                                <p>3612</p>
                            </div>
                            <div class="copyexperts_card_detail">
                                <p>Losses</p>
                                <p>532</p>
                            </div>
                        </div>
                        <div class="copyexperts_card_footer">
                            <button class="copyexperts_card_button css-nncgg"><p>Copy</p></button>
                        </div>
                    </div>
                    <div class="css-8s2u8p">
                        <div class="copyexperts_card_top">
                            <div class="copyexperts_card_info">
                                <img src="https://res.cloudinary.com/dtqmd9yla/image/upload/v1741711728/IMG_8274.jpeg2025-03-11T16:48:44.780Z.jpg" alt="CryptoDaily " />
                                <span style="display: flex; align-items: center; gap: 4px;">
                                    <p class="expert_name">CryptoDaily</p>
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="16"
                                         height="16"
                                         viewBox="0 0 24 24"
                                         fill="none"
                                         stroke="#FFD700"
                                         stroke-width="1.5"
                                         stroke-linecap="round"
                                         stroke-linejoin="round"
                                         class="lucide lucide-badge-check info_icon">
                                        <path d="M3.85 8.62a4 4 0 0 1 4.78-4.77 4 4 0 0 1 6.74 0 4 4 0 0 1 4.78 4.78 4 4 0 0 1 0 6.74 4 4 0 0 1-4.77 4.78 4 4 0 0 1-6.75 0 4 4 0 0 1-4.78-4.77 4 4 0 0 1 0-6.76Z"></path>
                                        <path d="m9 12 2 2 4-4"></path>
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <div class="copyexperts_card_details">
                            <div class="copyexperts_card_detail">
                                <p>Followers</p>
                                <p>27,100</p>
                            </div>
                            <div class="copyexperts_card_detail">
                                <p>Win rate</p>
                                <p>82%</p>
                            </div>
                            <div class="copyexperts_card_detail">
                                <p>Profit share</p>
                                <p>8%</p>
                            </div>
                            <div class="copyexperts_card_detail">
                                <p>Wins</p>
                                <p>3788</p>
                            </div>
                            <div class="copyexperts_card_detail">
                                <p>Losses</p>
                                <p>493</p>
                            </div>
                        </div>
                        <div class="copyexperts_card_footer">
                            <button class="copyexperts_card_button css-nncgg"><p>Copy</p></button>
                        </div>
                    </div>
                    <div class="css-8s2u8p">
                        <div class="copyexperts_card_top">
                            <div class="copyexperts_card_info">
                                <img src="https://res.cloudinary.com/dtqmd9yla/image/upload/v1741709795/IMG_8270.jpeg2025-03-11T16:16:32.435Z.jpg" alt="Finance Bro" />
                                <span style="display: flex; align-items: center; gap: 4px;">
                                    <p class="expert_name">Finance Bro</p>
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="16"
                                         height="16"
                                         viewBox="0 0 24 24"
                                         fill="none"
                                         stroke="#31acee"
                                         stroke-width="1.5"
                                         stroke-linecap="round"
                                         stroke-linejoin="round"
                                         class="lucide lucide-badge-check info_icon">
                                        <path d="M3.85 8.62a4 4 0 0 1 4.78-4.77 4 4 0 0 1 6.74 0 4 4 0 0 1 4.78 4.78 4 4 0 0 1 0 6.74 4 4 0 0 1-4.77 4.78 4 4 0 0 1-6.75 0 4 4 0 0 1-4.78-4.77 4 4 0 0 1 0-6.76Z"></path>
                                        <path d="m9 12 2 2 4-4"></path>
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <div class="copyexperts_card_details">
                            <div class="copyexperts_card_detail">
                                <p>Followers</p>
                                <p>21,115</p>
                            </div>
                            <div class="copyexperts_card_detail">
                                <p>Win rate</p>
                                <p>83%</p>
                            </div>
                            <div class="copyexperts_card_detail">
                                <p>Profit share</p>
                                <p>15%</p>
                            </div>
                            <div class="copyexperts_card_detail">
                                <p>Wins</p>
                                <p>3932</p>
                            </div>
                            <div class="copyexperts_card_detail">
                                <p>Losses</p>
                                <p>244</p>
                            </div>
                        </div>
                        <div class="copyexperts_card_footer">
                            <button class="copyexperts_card_button css-nncgg"><p>Copy</p></button>
                        </div>
                    </div>
                    <div class="css-8s2u8p">
                        <div class="copyexperts_card_top">
                            <div class="copyexperts_card_info">
                                <img src="https://res.cloudinary.com/dtqmd9yla/image/upload/v1741709586/IMG_8268.jpeg2025-03-11T16:13:04.005Z.jpg" alt="Kevin " />
                                <span style="display: flex; align-items: center; gap: 4px;">
                                    <p class="expert_name">Kevin</p>
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="16"
                                         height="16"
                                         viewBox="0 0 24 24"
                                         fill="none"
                                         stroke="#FFD700"
                                         stroke-width="1.5"
                                         stroke-linecap="round"
                                         stroke-linejoin="round"
                                         class="lucide lucide-badge-check info_icon">
                                        <path d="M3.85 8.62a4 4 0 0 1 4.78-4.77 4 4 0 0 1 6.74 0 4 4 0 0 1 4.78 4.78 4 4 0 0 1 0 6.74 4 4 0 0 1-4.77 4.78 4 4 0 0 1-6.75 0 4 4 0 0 1-4.78-4.77 4 4 0 0 1 0-6.76Z"></path>
                                        <path d="m9 12 2 2 4-4"></path>
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <div class="copyexperts_card_details">
                            <div class="copyexperts_card_detail">
                                <p>Followers</p>
                                <p>23,500</p>
                            </div>
                            <div class="copyexperts_card_detail">
                                <p>Win rate</p>
                                <p>85%</p>
                            </div>
                            <div class="copyexperts_card_detail">
                                <p>Profit share</p>
                                <p>15%</p>
                            </div>
                            <div class="copyexperts_card_detail">
                                <p>Wins</p>
                                <p>7350</p>
                            </div>
                            <div class="copyexperts_card_detail">
                                <p>Losses</p>
                                <p>216</p>
                            </div>
                        </div>
                        <div class="copyexperts_card_footer">
                            <button class="copyexperts_card_button css-nncgg"><p>Copy</p></button>
                        </div>
                    </div>
                    <div class="css-8s2u8p">
                        <div class="copyexperts_card_top">
                            <div class="copyexperts_card_info">
                                <img src="https://res.cloudinary.com/dtqmd9yla/image/upload/v1742402547/IMG_8357.jpeg2025-03-19T16:42:27.614Z.jpg" alt="Lord XRP" />
                                <span style="display: flex; align-items: center; gap: 4px;">
                                    <p class="expert_name">Lord XRP</p>
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="16"
                                         height="16"
                                         viewBox="0 0 24 24"
                                         fill="none"
                                         stroke="#31acee"
                                         stroke-width="1.5"
                                         stroke-linecap="round"
                                         stroke-linejoin="round"
                                         class="lucide lucide-badge-check info_icon">
                                        <path d="M3.85 8.62a4 4 0 0 1 4.78-4.77 4 4 0 0 1 6.74 0 4 4 0 0 1 4.78 4.78 4 4 0 0 1 0 6.74 4 4 0 0 1-4.77 4.78 4 4 0 0 1-6.75 0 4 4 0 0 1-4.78-4.77 4 4 0 0 1 0-6.76Z"></path>
                                        <path d="m9 12 2 2 4-4"></path>
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <div class="copyexperts_card_details">
                            <div class="copyexperts_card_detail">
                                <p>Followers</p>
                                <p>63,700</p>
                            </div>
                            <div class="copyexperts_card_detail">
                                <p>Win rate</p>
                                <p>84%</p>
                            </div>
                            <div class="copyexperts_card_detail">
                                <p>Profit share</p>
                                <p>10%</p>
                            </div>
                            <div class="copyexperts_card_detail">
                                <p>Wins</p>
                                <p>8911</p>
                            </div>
                            <div class="copyexperts_card_detail">
                                <p>Losses</p>
                                <p>1766</p>
                            </div>
                        </div>
                        <div class="copyexperts_card_footer">
                            <button class="copyexperts_card_button css-nncgg"><p>Copy</p></button>
                        </div>
                    </div>
                    <div class="css-8s2u8p">
                        <div class="copyexperts_card_top">
                            <div class="copyexperts_card_info">
                                <img src="https://res.cloudinary.com/dtqmd9yla/image/upload/v1743540840/IMG_8468.jpeg2025-04-01T20:53:56.283Z.jpg" alt="X Remi" />
                                <span style="display: flex; align-items: center; gap: 4px;">
                                    <p class="expert_name">X Remi</p>
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="16"
                                         height="16"
                                         viewBox="0 0 24 24"
                                         fill="none"
                                         stroke="#31acee"
                                         stroke-width="1.5"
                                         stroke-linecap="round"
                                         stroke-linejoin="round"
                                         class="lucide lucide-badge-check info_icon">
                                        <path d="M3.85 8.62a4 4 0 0 1 4.78-4.77 4 4 0 0 1 6.74 0 4 4 0 0 1 4.78 4.78 4 4 0 0 1 0 6.74 4 4 0 0 1-4.77 4.78 4 4 0 0 1-6.75 0 4 4 0 0 1-4.78-4.77 4 4 0 0 1 0-6.76Z"></path>
                                        <path d="m9 12 2 2 4-4"></path>
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <div class="copyexperts_card_details">
                            <div class="copyexperts_card_detail">
                                <p>Followers</p>
                                <p>5,300</p>
                            </div>
                            <div class="copyexperts_card_detail">
                                <p>Win rate</p>
                                <p>84%</p>
                            </div>
                            <div class="copyexperts_card_detail">
                                <p>Profit share</p>
                                <p>10%</p>
                            </div>
                            <div class="copyexperts_card_detail">
                                <p>Wins</p>
                                <p>3908</p>
                            </div>
                            <div class="copyexperts_card_detail">
                                <p>Losses</p>
                                <p>244</p>
                            </div>
                        </div>
                        <div class="copyexperts_card_footer">
                            <button class="copyexperts_card_button css-nncgg"><p>Copy</p></button>
                        </div>
                    </div>
                    <div class="css-8s2u8p">
                        <div class="copyexperts_card_top">
                            <div class="copyexperts_card_info">
                                <img src="https://res.cloudinary.com/dtqmd9yla/image/upload/v1741907789/IMG_8302.jpeg2025-03-13T23:16:25.411Z.jpg" alt="XRP Avengers" />
                                <span style="display: flex; align-items: center; gap: 4px;">
                                    <p class="expert_name">XRP Avengers</p>
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="16"
                                         height="16"
                                         viewBox="0 0 24 24"
                                         fill="none"
                                         stroke="#FFD700"
                                         stroke-width="1.5"
                                         stroke-linecap="round"
                                         stroke-linejoin="round"
                                         class="lucide lucide-badge-check info_icon">
                                        <path d="M3.85 8.62a4 4 0 0 1 4.78-4.77 4 4 0 0 1 6.74 0 4 4 0 0 1 4.78 4.78 4 4 0 0 1 0 6.74 4 4 0 0 1-4.77 4.78 4 4 0 0 1-6.75 0 4 4 0 0 1-4.78-4.77 4 4 0 0 1 0-6.76Z"></path>
                                        <path d="m9 12 2 2 4-4"></path>
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <div class="copyexperts_card_details">
                            <div class="copyexperts_card_detail">
                                <p>Followers</p>
                                <p>71,000</p>
                            </div>
                            <div class="copyexperts_card_detail">
                                <p>Win rate</p>
                                <p>85%</p>
                            </div>
                            <div class="copyexperts_card_detail">
                                <p>Profit share</p>
                                <p>10%</p>
                            </div>
                            <div class="copyexperts_card_detail">
                                <p>Wins</p>
                                <p>6510</p>
                            </div>
                            <div class="copyexperts_card_detail">
                                <p>Losses</p>
                                <p>773</p>
                            </div>
                        </div>
                        <div class="copyexperts_card_footer">
                            <button class="copyexperts_card_button css-nncgg"><p>Copy</p></button>
                        </div>
                    </div>
                    <div class="css-8s2u8p">
                        <div class="copyexperts_card_top">
                            <div class="copyexperts_card_info">
                                <img src="https://res.cloudinary.com/dtqmd9yla/image/upload/v1741709676/IMG_8269.jpeg2025-03-11T16:14:33.622Z.jpg" alt="XRP DRAGON" />
                                <span style="display: flex; align-items: center; gap: 4px;">
                                    <p class="expert_name">XRP DRAGON</p>
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="16"
                                         height="16"
                                         viewBox="0 0 24 24"
                                         fill="none"
                                         stroke="#FFD700"
                                         stroke-width="1.5"
                                         stroke-linecap="round"
                                         stroke-linejoin="round"
                                         class="lucide lucide-badge-check info_icon">
                                        <path d="M3.85 8.62a4 4 0 0 1 4.78-4.77 4 4 0 0 1 6.74 0 4 4 0 0 1 4.78 4.78 4 4 0 0 1 0 6.74 4 4 0 0 1-4.77 4.78 4 4 0 0 1-6.75 0 4 4 0 0 1-4.78-4.77 4 4 0 0 1 0-6.76Z"></path>
                                        <path d="m9 12 2 2 4-4"></path>
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <div class="copyexperts_card_details">
                            <div class="copyexperts_card_detail">
                                <p>Followers</p>
                                <p>7,520</p>
                            </div>
                            <div class="copyexperts_card_detail">
                                <p>Win rate</p>
                                <p>86%</p>
                            </div>
                            <div class="copyexperts_card_detail">
                                <p>Profit share</p>
                                <p>10%</p>
                            </div>
                            <div class="copyexperts_card_detail">
                                <p>Wins</p>
                                <p>7822</p>
                            </div>
                            <div class="copyexperts_card_detail">
                                <p>Losses</p>
                                <p>993</p>
                            </div>
                        </div>
                        <div class="copyexperts_card_footer">
                            <button class="copyexperts_card_button css-nncgg"><p>Copy</p></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
