<div class="css-1d4c5kz">
    <div class="categories_wrapper">
        <p class="account_section_title categories">Categories</p>
        <div class="categories_section">
            <p>No categories yet. <strong>Deposit now </strong>to see your portfolio breakdown.</p>
        </div>
    </div>
    <div class="account_card_bottom">
        <div class="progress_wrapper">
            <span>
                <p class="account_section_title">Trading progress</p>
                <p>0%</p>
            </span>
            <div class="progress_section">
                <div class="progress_bar"></div>
                <div class="progress"></div>
            </div>
        </div>
        <div class="signal_strength_wrapper">
            <span>
                <p class="account_section_title signal_strength">Signal strength</p>
                <p class="red">0%</p>
            </span>
            <div class="signal_wrapper">
                <div class="signal_bar "></div>
                <div class="signal_bar "></div>
                <div class="signal_bar "></div>
                <div class="signal_bar "></div>
                <div class="signal_bar "></div>
                <div class="signal_bar "></div>
                <div class="signal_bar "></div>
                <div class="signal_bar "></div>
                <div class="signal_bar "></div>
                <div class="signal_bar "></div>
                <div class="signal_bar "></div>
                <div class="signal_bar "></div>
                <div class="signal_bar "></div>
                <div class="signal_bar "></div>
                <div class="signal_bar "></div>
            </div>
        </div>
    </div>
</div>