<div class="css-1i1ptr">
    <div class="css-1tr1jbf">
        <div class="trade_table_top">
            <p class="trade_table_top_title">Trades</p>
            <div class="trade_switcher"><button class="active">Open</button><button class="">Closed</button></div>
        </div>
        <table class="css-1bey2fx">
            <thead>
                <tr>
                    <th class="date">Date</th>
                    <th class="asset">Trade</th>
                    <th class="size">Direction</th>
                    <th class="amount">Amount</th>
                    <th class="entry">Entry price</th>
                    <th class="pnl">Profit</th>
                    <th class="action">Action</th>
                </tr>
            </thead>
            <tbody class="scrollbar-hide">
                <p class="empty_state">No Open trades yet. </p>
            </tbody>
        </table>
        <div class="css-187r8zr">
            <div class="trade_wrapper scrollbar-hide">
                <p class="empty_state">No Open trades yet. </p>
            </div>
        </div>
    </div>
</div>