<style>
    .trade_table_top div{
        width:100%!important;
    }
</style>
<div class="css-1i1ptr">
    <div class="css-1tr1jbf">
        <div class="trade_table_top">
            
            <Tabs Class="w-100" EnableFadeEffect="true" NavStyle="NavStyle.Pills">
                <Tab Title="Trades" Disabled="true" Style="color: #fff;">

                </Tab>
                <Tab Title="Open" Active="true" Style="color: #fff;">
                    <Content>
                        <br />
                        <OpenTradeHistoryComponent />
                    </Content>
                </Tab>
                <Tab Title="Closed" Style="color: #fff;">
                    <Content>
                        <br />
                        <ClosedTradeHistoryComponent />
                    </Content>
                </Tab>
            </Tabs>
        </div>
        
    </div>
</div>