<div class="scrollbar-hide css-10q5ekg" style="transform: translateX(@Transform);opacity:1;">
    <div class="top">
        <div role="button" @onclick="UpdateTransform" style="white-space: nowrap; min-width: 100px; display: grid; grid-template-columns: 16px auto; align-items: center; gap: 6px; appearance: button; cursor: pointer;">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="16"
                 height="16"
                 viewBox="0 0 24 24"
                 fill="none"
                 stroke="currentColor"
                 stroke-width="1.5"
                 stroke-linecap="round"
                 stroke-linejoin="round"
                 class="lucide lucide-chevron-left">
                <path d="m15 18-6-6 6-6"></path>
            </svg>
            <p class="top_title">Connect wallet</p>
        </div>
        <button @onclick="UpdateTransform"><Icon Name="IconName.X" /></button>
    </div>
    <div class="content">
        <div class="content_wrapper scrollbar-hide">
            <div class="css-1v2i069">
                <div class="section">
                    <div class="section_titles">
                        <div class="title">Connect your wallet</div>
                        <div class="subtitle">Connect your wallet to enjoy advanced features. The Iron Markets supports 500+ exchanges &amp; wallets, NFTs, 10,000+ cryptocurrencies, and 20,000+ DeFi smart contracts.</div>
                    </div>
                    <div class="section_content">
                        <div class="toggle" style="position: relative;">
                            <div class="css-ewwsn6">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="16"
                                     height="16"
                                     viewBox="0 0 24 24"
                                     fill="none"
                                     stroke="currentColor"
                                     stroke-width="1.5"
                                     stroke-linecap="round"
                                     stroke-linejoin="round"
                                     class="lucide lucide-search">
                                    <circle cx="11" cy="11" r="8"></circle>
                                    <path d="m21 21-4.3-4.3"></path>
                                </svg>
                                <input placeholder="Search for your wallet" class="no-zoom-14px" />
                            </div>
                            <div>
                                <div style="display: flex; align-items: center; justify-content: space-between;">
                                    <div class="hoverable css-1vr3rr2">
                                        <label style="display: flex; gap: 6px; align-items: center;">
                                            <img src="./The Iron Markets_files/aktionriat.svg" alt="" style="width: 20px; height: auto;" />
                                            <p style="font-weight: 500;">Aktionariat Wallet</p>
                                        </label>
                                        <button class="switch_wrapper"><div class="switch"></div></button>
                                    </div>
                                </div>
                                <div style="display: flex; align-items: center; justify-content: space-between;">
                                    <div class="hoverable css-1vr3rr2">
                                        <label style="display: flex; gap: 6px; align-items: center;">
                                            <img src="./The Iron Markets_files/binance.svg" alt="" style="width: 20px; height: auto;" />
                                            <p style="font-weight: 500;">Binance</p>
                                        </label>
                                        <button class="switch_wrapper"><div class="switch"></div></button>
                                    </div>
                                </div>
                                <div style="display: flex; align-items: center; justify-content: space-between;">
                                    <div class="hoverable css-1vr3rr2">
                                        <label style="display: flex; gap: 6px; align-items: center;">
                                            <img src="./The Iron Markets_files/bitcoinwallet.svg" alt="" style="width: 20px; height: auto;" />
                                            <p style="font-weight: 500;">Bitcoin Wallet</p>
                                        </label>
                                        <button class="switch_wrapper"><div class="switch"></div></button>
                                    </div>
                                </div>
                                <div style="display: flex; align-items: center; justify-content: space-between;">
                                    <div class="hoverable css-1vr3rr2">
                                        <label style="display: flex; gap: 6px; align-items: center;">
                                            <img src="./The Iron Markets_files/bitkeep.svg" alt="" style="width: 20px; height: auto;" />
                                            <p style="font-weight: 500;">Bitkeep Wallet</p>
                                        </label>
                                        <button class="switch_wrapper"><div class="switch"></div></button>
                                    </div>
                                </div>
                                <div style="display: flex; align-items: center; justify-content: space-between;">
                                    <div class="hoverable css-1vr3rr2">
                                        <label style="display: flex; gap: 6px; align-items: center;">
                                            <img src="./The Iron Markets_files/bitpay.svg" alt="" style="width: 20px; height: auto;" />
                                            <p style="font-weight: 500;">Bitpay</p>
                                        </label>
                                        <button class="switch_wrapper"><div class="switch"></div></button>
                                    </div>
                                </div>
                                <div style="display: flex; align-items: center; justify-content: space-between;">
                                    <div class="hoverable css-1vr3rr2">
                                        <label style="display: flex; gap: 6px; align-items: center;">
                                            <img src="./The Iron Markets_files/blockchain.svg" alt="" style="width: 20px; height: auto;" />
                                            <p style="font-weight: 500;">Blockchain</p>
                                        </label>
                                        <button class="switch_wrapper"><div class="switch"></div></button>
                                    </div>
                                </div>
                                <div style="display: flex; align-items: center; justify-content: space-between;">
                                    <div class="hoverable css-1vr3rr2">
                                        <label style="display: flex; gap: 6px; align-items: center;">
                                            <img src="./The Iron Markets_files/coinbase.svg" alt="" style="width: 20px; height: auto;" />
                                            <p style="font-weight: 500;">Coinbase</p>
                                        </label>
                                        <button class="switch_wrapper"><div class="switch"></div></button>
                                    </div>
                                </div>
                                <div style="display: flex; align-items: center; justify-content: space-between;">
                                    <div class="hoverable css-1vr3rr2">
                                        <label style="display: flex; gap: 6px; align-items: center;">
                                            <img src="./The Iron Markets_files/coinbase-one.svg" alt="" style="width: 20px; height: auto;" />
                                            <p style="font-weight: 500;">Coinbase One</p>
                                        </label>
                                        <button class="switch_wrapper"><div class="switch"></div></button>
                                    </div>
                                </div>
                                <div style="display: flex; align-items: center; justify-content: space-between;">
                                    <div class="hoverable css-1vr3rr2">
                                        <label style="display: flex; gap: 6px; align-items: center;">
                                            <img src="./The Iron Markets_files/cryptocom.svg" alt="" style="width: 20px; height: auto;" />
                                            <p style="font-weight: 500;">Crypto Wallet</p>
                                        </label>
                                        <button class="switch_wrapper"><div class="switch"></div></button>
                                    </div>
                                </div>
                                <div style="display: flex; align-items: center; justify-content: space-between;">
                                    <div class="hoverable css-1vr3rr2">
                                        <label style="display: flex; gap: 6px; align-items: center;">
                                            <img src="./The Iron Markets_files/exodus.svg" alt="" style="width: 20px; height: auto;" />
                                            <p style="font-weight: 500;">Exodus Wallet</p>
                                        </label>
                                        <button class="switch_wrapper"><div class="switch"></div></button>
                                    </div>
                                </div>
                                <div style="display: flex; align-items: center; justify-content: space-between;">
                                    <div class="hoverable css-1vr3rr2">
                                        <label style="display: flex; gap: 6px; align-items: center;">
                                            <img src="./The Iron Markets_files/gemini.svg" alt="" style="width: 20px; height: auto;" />
                                            <p style="font-weight: 500;">Gemini</p>
                                        </label>
                                        <button class="switch_wrapper"><div class="switch"></div></button>
                                    </div>
                                </div>
                                <div style="display: flex; align-items: center; justify-content: space-between;">
                                    <div class="hoverable css-1vr3rr2">
                                        <label style="display: flex; gap: 6px; align-items: center;">
                                            <img src="./The Iron Markets_files/imtoken.svg" alt="" style="width: 20px; height: auto;" />
                                            <p style="font-weight: 500;">Imtoken</p>
                                        </label>
                                        <button class="switch_wrapper"><div class="switch"></div></button>
                                    </div>
                                </div>
                                <div style="display: flex; align-items: center; justify-content: space-between;">
                                    <div class="hoverable css-1vr3rr2">
                                        <label style="display: flex; gap: 6px; align-items: center;">
                                            <img src="./The Iron Markets_files/infinito.svg" alt="" style="width: 20px; height: auto;" />
                                            <p style="font-weight: 500;">Infinito Wallet</p>
                                        </label>
                                        <button class="switch_wrapper"><div class="switch"></div></button>
                                    </div>
                                </div>
                                <div style="display: flex; align-items: center; justify-content: space-between;">
                                    <div class="hoverable css-1vr3rr2">
                                        <label style="display: flex; gap: 6px; align-items: center;">
                                            <img src="./The Iron Markets_files/infinity.svg" alt="" style="width: 20px; height: auto;" />
                                            <p style="font-weight: 500;">Infinity Wallet</p>
                                        </label>
                                        <button class="switch_wrapper"><div class="switch"></div></button>
                                    </div>
                                </div>
                                <div style="display: flex; align-items: center; justify-content: space-between;">
                                    <div class="hoverable css-1vr3rr2">
                                        <label style="display: flex; gap: 6px; align-items: center;">
                                            <img src="./The Iron Markets_files/keyringpro.svg" alt="" style="width: 20px; height: auto;" />
                                            <p style="font-weight: 500;">Keyringpro Wallet</p>
                                        </label>
                                        <button class="switch_wrapper"><div class="switch"></div></button>
                                    </div>
                                </div>
                                <div style="display: flex; align-items: center; justify-content: space-between;">
                                    <div class="hoverable css-1vr3rr2">
                                        <label style="display: flex; gap: 6px; align-items: center;">
                                            <img src="./The Iron Markets_files/metamask.svg" alt="" style="width: 20px; height: auto;" />
                                            <p style="font-weight: 500;">Metamask</p>
                                        </label>
                                        <button class="switch_wrapper"><div class="switch"></div></button>
                                    </div>
                                </div>
                                <div style="display: flex; align-items: center; justify-content: space-between;">
                                    <div class="hoverable css-1vr3rr2">
                                        <label style="display: flex; gap: 6px; align-items: center;">
                                            <img src="./The Iron Markets_files/ownbit.svg" alt="" style="width: 20px; height: auto;" />
                                            <p style="font-weight: 500;">Ownbit Wallet</p>
                                        </label>
                                        <button class="switch_wrapper"><div class="switch"></div></button>
                                    </div>
                                </div>
                                <div style="display: flex; align-items: center; justify-content: space-between;">
                                    <div class="hoverable css-1vr3rr2">
                                        <label style="display: flex; gap: 6px; align-items: center;">
                                            <img src="./The Iron Markets_files/phantom.svg" alt="" style="width: 20px; height: auto;" />
                                            <p style="font-weight: 500;">Phantom Wallet</p>
                                        </label>
                                        <button class="switch_wrapper"><div class="switch"></div></button>
                                    </div>
                                </div>
                                <div style="display: flex; align-items: center; justify-content: space-between;">
                                    <div class="hoverable css-1vr3rr2">
                                        <label style="display: flex; gap: 6px; align-items: center;">
                                            <img src="./The Iron Markets_files/pulse.svg" alt="" style="width: 20px; height: auto;" />
                                            <p style="font-weight: 500;">Pulse Wallet</p>
                                        </label>
                                        <button class="switch_wrapper"><div class="switch"></div></button>
                                    </div>
                                </div>
                                <div style="display: flex; align-items: center; justify-content: space-between;">
                                    <div class="hoverable css-1vr3rr2">
                                        <label style="display: flex; gap: 6px; align-items: center;">
                                            <img src="./The Iron Markets_files/rainbow.svg" alt="" style="width: 20px; height: auto;" />
                                            <p style="font-weight: 500;">Rainbow</p>
                                        </label>
                                        <button class="switch_wrapper"><div class="switch"></div></button>
                                    </div>
                                </div>
                                <div style="display: flex; align-items: center; justify-content: space-between;">
                                    <div class="hoverable css-1vr3rr2">
                                        <label style="display: flex; gap: 6px; align-items: center;">
                                            <img src="./The Iron Markets_files/robinhood.svg" alt="" style="width: 20px; height: auto;" />
                                            <p style="font-weight: 500;">Robinhood Wallet</p>
                                        </label>
                                        <button class="switch_wrapper"><div class="switch"></div></button>
                                    </div>
                                </div>
                                <div style="display: flex; align-items: center; justify-content: space-between;">
                                    <div class="hoverable css-1vr3rr2">
                                        <label style="display: flex; gap: 6px; align-items: center;">
                                            <img src="./The Iron Markets_files/safepal.svg" alt="" style="width: 20px; height: auto;" />
                                            <p style="font-weight: 500;">Safepal Wallet</p>
                                        </label>
                                        <button class="switch_wrapper"><div class="switch"></div></button>
                                    </div>
                                </div>
                                <div style="display: flex; align-items: center; justify-content: space-between;">
                                    <div class="hoverable css-1vr3rr2">
                                        <label style="display: flex; gap: 6px; align-items: center;">
                                            <img src="./The Iron Markets_files/sparkpoint.svg" alt="" style="width: 20px; height: auto;" />
                                            <p style="font-weight: 500;">Sparkpoint Wallet</p>
                                        </label>
                                        <button class="switch_wrapper"><div class="switch"></div></button>
                                    </div>
                                </div>
                                <div style="display: flex; align-items: center; justify-content: space-between;">
                                    <div class="hoverable css-1vr3rr2">
                                        <label style="display: flex; gap: 6px; align-items: center;">
                                            <img src="./The Iron Markets_files/trust.svg" alt="" style="width: 20px; height: auto;" />
                                            <p style="font-weight: 500;">Trust Wallet</p>
                                        </label>
                                        <button class="switch_wrapper"><div class="switch"></div></button>
                                    </div>
                                </div>
                                <div style="display: flex; align-items: center; justify-content: space-between;">
                                    <div class="hoverable css-1vr3rr2">
                                        <label style="display: flex; gap: 6px; align-items: center;">
                                            <img src="./The Iron Markets_files/uniswap.svg" alt="" style="width: 20px; height: auto;" />
                                            <p style="font-weight: 500;">Uniswap</p>
                                        </label>
                                        <button class="switch_wrapper"><div class="switch"></div></button>
                                    </div>
                                </div>
                                <div style="display: flex; align-items: center; justify-content: space-between;">
                                    <div class="hoverable css-1vr3rr2">
                                        <label style="display: flex; gap: 6px; align-items: center;">
                                            <img src="./The Iron Markets_files/wallet.svg" alt="" style="width: 20px; height: auto;" />
                                            <p style="font-weight: 500;">Wallet io</p>
                                        </label>
                                        <button class="switch_wrapper"><div class="switch"></div></button>
                                    </div>
                                </div>
                                <div class="hoverable lighter css-1vr3rr2">
                                    <label style="display: flex; gap: 6px; align-items: center;">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="16"
                                             height="16"
                                             viewBox="0 0 24 24"
                                             fill="none"
                                             stroke="currentColor"
                                             stroke-width="1.5"
                                             stroke-linecap="round"
                                             stroke-linejoin="round"
                                             class="lucide lucide-link">
                                            <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path>
                                            <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path>
                                        </svg>
                                        <p style="font-weight: 500;">Add new wallet</p>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string Transform { get; set; }
    [Parameter] public EventCallback<string> TransformChanged { get; set; }

    [Parameter]
    public User? user { get; set; }

    private void UpdateTransform()
    {
        Transform = "100%"; // Update locally
        TransformChanged.InvokeAsync(Transform); // Notify Parent
    }
}