<div class="scrollbar-hide css-f12qtg">
    <div class="top">
        <div role="button" style="white-space: nowrap; min-width: 100px; display: grid; grid-template-columns: 16px auto; align-items: center; gap: 6px; appearance: button; cursor: pointer;">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="16"
                 height="16"
                 viewBox="0 0 24 24"
                 fill="none"
                 stroke="currentColor"
                 stroke-width="1.5"
                 stroke-linecap="round"
                 stroke-linejoin="round"
                 class="lucide lucide-chevron-left">
                <path d="m15 18-6-6 6-6"></path>
            </svg>
            <p class="top_title">Generate code</p>
        </div>
        <button><img src="./The Iron Markets_files/close.svg" alt="close" /></button>
    </div>
    <div class="content">
        <div class="content_wrapper scrollbar-hide">
            <div class="css-1v2i069">
                <div class="section">
                    <div class="section_titles"><div class="subtitle">To generate a quarry code, simply click on the button below.</div></div>
                    <div class="section_content">
                        <button class="css-13x80pm" style="background-color: rgb(81, 207, 239); text-transform: capitalize; max-width: fit-content;">Generate quarry code</button>
                        <p role="button" style="color: rgb(171, 177, 186); font-size: 13px; font-weight: 500; margin-top: 4px; cursor: pointer; transition: 0.3s ease-in-out;">How to use quarry code?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>