<div class="css-dg2utp" id="notiarea" style="transform: translateX(@Transform);opacity:1;">
    <div class="top">
        <div role="button" @onclick="UpdateTransform" style="white-space: nowrap; min-width: 100px; display: grid; grid-template-columns: 16px auto; align-items: center; gap: 6px; appearance: button; cursor: pointer;">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="16"
                 height="16"
                 viewBox="0 0 24 24"
                 fill="none"
                 stroke="currentColor"
                 stroke-width="1.5"
                 stroke-linecap="round"
                 stroke-linejoin="round"
                 class="lucide lucide-chevron-left">
                <path d="m15 18-6-6 6-6"></path>
            </svg>
            <p class="top_title">Notifications</p>
        </div>
        <button @onclick="UpdateTransform"><Icon Name="IconName.X" /></button>
    </div>
    <div class="content scrollbar-hide css-14m1oa2">
        <div class="notification_item">
            <div class="left">
                <span class="left_info">
                    <span class="left_info_title">
                        <p class="title">
                            <span class="MuiSkeleton-root MuiSkeleton-rounded MuiSkeleton-pulse css-qe6ok8" style="width: 100px; background-color: rgba(255, 255, 255, 0.05); display: inline-block;">Test</span>
                        </p>
                        <strong class="label">
                            <span class="MuiSkeleton-root MuiSkeleton-rounded MuiSkeleton-pulse css-qe6ok8" style="width: 30px; background-color: rgba(255, 255, 255, 0.05); display: inline-block;">tester</span>
                        </strong>
                    </span>
                    <p class="left_info_value">
                        <span class="MuiSkeleton-root MuiSkeleton-rounded MuiSkeleton-pulse css-qe6ok8" style="width: 210px; background-color: rgba(255, 255, 255, 0.05); display: inline-block;">Testing</span>
                    </p>
                </span>
            </div>
        </div>
        <div class="notification_item">
            <div class="left">
                <span class="left_info">
                    <span class="left_info_title">
                        <p class="title">
                            <span class="MuiSkeleton-root MuiSkeleton-rounded MuiSkeleton-pulse css-qe6ok8" style="width: 100px; background-color: rgba(255, 255, 255, 0.05); display: inline-block;"></span>
                        </p>
                        <strong class="label">
                            <span class="MuiSkeleton-root MuiSkeleton-rounded MuiSkeleton-pulse css-qe6ok8" style="width: 30px; background-color: rgba(255, 255, 255, 0.05); display: inline-block;"></span>
                        </strong>
                    </span>
                    <p class="left_info_value">
                        <span class="MuiSkeleton-root MuiSkeleton-rounded MuiSkeleton-pulse css-qe6ok8" style="width: 210px; background-color: rgba(255, 255, 255, 0.05); display: inline-block;"></span>
                    </p>
                </span>
            </div>
        </div>
        <div class="notification_item">
            <div class="left">
                <span class="left_info">
                    <span class="left_info_title">
                        <p class="title">
                            <span class="MuiSkeleton-root MuiSkeleton-rounded MuiSkeleton-pulse css-qe6ok8" style="width: 100px; background-color: rgba(255, 255, 255, 0.05); display: inline-block;"></span>
                        </p>
                        <strong class="label">
                            <span class="MuiSkeleton-root MuiSkeleton-rounded MuiSkeleton-pulse css-qe6ok8" style="width: 30px; background-color: rgba(255, 255, 255, 0.05); display: inline-block;"></span>
                        </strong>
                    </span>
                    <p class="left_info_value">
                        <span class="MuiSkeleton-root MuiSkeleton-rounded MuiSkeleton-pulse css-qe6ok8" style="width: 210px; background-color: rgba(255, 255, 255, 0.05); display: inline-block;"></span>
                    </p>
                </span>
            </div>
        </div>
        <div class="notification_item">
            <div class="left">
                <span class="left_info">
                    <span class="left_info_title">
                        <p class="title">
                            <span class="MuiSkeleton-root MuiSkeleton-rounded MuiSkeleton-pulse css-qe6ok8" style="width: 100px; background-color: rgba(255, 255, 255, 0.05); display: inline-block;"></span>
                        </p>
                        <strong class="label">
                            <span class="MuiSkeleton-root MuiSkeleton-rounded MuiSkeleton-pulse css-qe6ok8" style="width: 30px; background-color: rgba(255, 255, 255, 0.05); display: inline-block;"></span>
                        </strong>
                    </span>
                    <p class="left_info_value">
                        <span class="MuiSkeleton-root MuiSkeleton-rounded MuiSkeleton-pulse css-qe6ok8" style="width: 210px; background-color: rgba(255, 255, 255, 0.05); display: inline-block;"></span>
                    </p>
                </span>
            </div>
        </div>
        <div class="notification_item">
            <div class="left">
                <span class="left_info">
                    <span class="left_info_title">
                        <p class="title">
                            <span class="MuiSkeleton-root MuiSkeleton-rounded MuiSkeleton-pulse css-qe6ok8" style="width: 100px; background-color: rgba(255, 255, 255, 0.05); display: inline-block;"></span>
                        </p>
                        <strong class="label">
                            <span class="MuiSkeleton-root MuiSkeleton-rounded MuiSkeleton-pulse css-qe6ok8" style="width: 30px; background-color: rgba(255, 255, 255, 0.05); display: inline-block;"></span>
                        </strong>
                    </span>
                    <p class="left_info_value">
                        <span class="MuiSkeleton-root MuiSkeleton-rounded MuiSkeleton-pulse css-qe6ok8" style="width: 210px; background-color: rgba(255, 255, 255, 0.05); display: inline-block;"></span>
                    </p>
                </span>
            </div>
        </div>
        
    </div>
</div>
@code{
    [Parameter]
    public string Transform { get; set; }
    [Parameter] public EventCallback<string> TransformChanged { get; set; }

    private void UpdateTransform()
    {
        Transform = "100%"; // Update locally
        TransformChanged.InvokeAsync(Transform); // Notify Parent
    }
}