@rendermode InteractiveServer
@inject IJSRuntime JS
<div class="css-1tgwo75">
    <div class="css-6ymeda"></div>
    <SettingsTab @bind-Transform="settingsTransform" @rendermode="InteractiveServer" user="user" />
    <div class="css-6ymeda"></div>
    <GenerateQueryCodeTab />
    <div class="css-6ymeda"></div>
    <ConnectWalletTab @bind-Transform="connectTransform" @rendermode="InteractiveServer" user="user" />
    <div class="css-6ymeda"></div>
    <ReferalTab @bind-Transform="referalTransform" @rendermode="InteractiveServer" user="user" />
    <div class="css-igs4nd" style="overflow-y: scroll;
    scrollbar-width: none;">
        <div class="sidebar_top css-aiffyg">
            <div class="logo_wrapper"><img src="./The Iron Markets_files/logo.svg" alt="logo" class="logo" style="width: 40px;" /></div>
            <div class="sidebar_items">
                <NavLink href="/user/dashboard" class="sidebar_item">
                    <svg xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-house">
                        <path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"></path>
                        <path d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                    </svg>
                    <p>Dashboard</p>
                </NavLink>
                <NavLink href="/user/deposit" class="sidebar_item">
                    <svg xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-circle-plus">
                        <circle cx="12" cy="12" r="10"></circle>
                        <path d="M8 12h8"></path>
                        <path d="M12 8v8"></path>
                    </svg>
                    <p>Deposit</p>
                </NavLink>
                <NavLink href="/user/withdraw" class="sidebar_item">
                    <svg xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-circle-minus">
                        <circle cx="12" cy="12" r="10"></circle>
                        <path d="M8 12h8"></path>
                    </svg>
                    <p>Withdraw</p>
                </NavLink>
                <NavLink href="/user/assets" class="sidebar_item">
                    <svg xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-wallet-minimal">
                        <path d="M17 14h.01"></path>
                        <path d="M7 7h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14"></path>
                    </svg>
                    <p>Assets</p>
                </NavLink>
                <NavLink href="/user/markets" class="sidebar_item">
                    <svg xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-chart-pie">
                        <path d="M21 12c.552 0 1.005-.449.95-.998a10 10 0 0 0-8.953-8.951c-.55-.055-.998.398-.998.95v8a1 1 0 0 0 1 1z"></path>
                        <path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path>
                    </svg>
                    <p>Markets</p>
                </NavLink>
                <NavLink href="/user/mining" class="sidebar_item">
                    <svg xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-coins">
                        <circle cx="8" cy="8" r="6"></circle>
                        <path d="M18.09 10.37A6 6 0 1 1 10.34 18"></path>
                        <path d="M7 6h1v4"></path>
                        <path d="m16.71 13.88.7.71-2.82 2.82"></path>
                    </svg>
                    <p>Mining</p>
                </NavLink>
                <NavLink href="/user/trade" class="sidebar_item">
                    <svg xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-trending-up">
                        <polyline points="22 7 13.5 15.5 8.5 10.5 2 17"></polyline>
                        <polyline points="16 7 22 7 22 13"></polyline>
                    </svg>
                    <p>Trade</p>
                </NavLink>
                <NavLink href="/user/subscribe" class="sidebar_item">
                    <svg xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-server">
                        <rect width="20" height="8" x="2" y="2" rx="2" ry="2"></rect>
                        <rect width="20" height="8" x="2" y="14" rx="2" ry="2"></rect>
                        <line x1="6" x2="6.01" y1="6" y2="6"></line>
                        <line x1="6" x2="6.01" y1="18" y2="18"></line>
                    </svg>
                    <p>Subscribe</p>
                </NavLink>
                <NavLink href="/user/signals" class="sidebar_item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-wifi">
                        <path d="M12 20h.01"></path>
                        <path d="M2 8.82a15 15 0 0 1 20 0"></path>
                        <path d="M5 12.859a10 10 0 0 1 14 0"></path>
                        <path d="M8.5 16.429a5 5 0 0 1 7 0"></path>
                    </svg>
                    <p>Signals</p>
                </NavLink>
                <NavLink href="/user/stake" class="sidebar_item">
                    <svg xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-coins">
                        <circle cx="8" cy="8" r="6"></circle>
                        <path d="M18.09 10.37A6 6 0 1 1 10.34 18"></path>
                        <path d="M7 6h1v4"></path>
                        <path d="m16.71 13.88.7.71-2.82 2.82"></path>
                    </svg>
                    <p>Stake</p>
                </NavLink>
                <span @onclick="UpdateReferalTransform" class="sidebar_item referal_link">
                    <svg xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-users">
                        <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path>
                        <circle cx="9" cy="7" r="4"></circle>
                        <path d="M22 21v-2a4 4 0 0 0-3-3.87"></path>
                        <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                    </svg>
                    <p>Referrals</p>
                </span>
                <span @onclick="UpdateConnectTransform" class="sidebar_item connect_link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-link">
                        <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path>
                        <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path>
                    </svg>
                    <p>Connect wallet</p>
                </span>
                <NavLink href="/user/copy-experts" class="sidebar_item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-copy">
                        <rect width="14" height="14" x="8" y="8" rx="2" ry="2"></rect>
                        <path d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2"></path>
                    </svg>
                    <p>Copy Experts</p>
                </NavLink>
                <span @onclick="UpdateSettingsTransform" class="sidebar_item settings_link">
                    <svg xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-settings">
                        <path d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"></path>
                        <circle cx="12" cy="12" r="3"></circle>
                    </svg>
                    <p>Settings</p>
                </span>
            </div>
        </div>
        @if (user is not null)
        {
            <div class="sidebar_footer css-xhs99b">
                <div class="css-159sdaq">
                <div class="left">
                    <div class="user_img_wrapper">
                            <div class="user_avatar"><p>@(user.FirstName.Substring(0, 1) + user.LastName.Substring(0, 1))</p></div>
                    </div>
                    <span class="user">
                            <p class="user_name" style="display: flex; align-items: center; gap: 6px; line-height: 18px;"><span style="height: 20px;">@(user.FirstName + " " + user.LastName)</span></p>
                        <p>@user.Plan account</p>
                    </span>
                </div>
            </div>
        </div>
        }
    </div>
</div>
@code{
    [Parameter]
    public User? user { get; set; }

    private string settingsTransform = "100%";
    private string connectTransform = "100%";
    private string referalTransform = "100%";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //await JS.InvokeVoidAsync("registerOutsideClick3", DotNetObjectReference.Create(this));
        }
    }

    [JSInvokable]
    public void CloseSettingsTransform()
    {
        //settingsTransform = "100%";
        //connectTransform = "100%";
        //StateHasChanged(); // Ensure UI updates
    }

    [JSInvokable]
    public void CloseReferalTransform()
    {
       // referalTransform = "100%";
       // StateHasChanged(); // Ensure UI updates
    }

    private void UpdateSettingsTransform()
    {
        settingsTransform = "0%";
        connectTransform = "100%";
        referalTransform = "100%";
    }

    private async Task UpdateReferalTransform()
    {
        referalTransform = "0%";
        settingsTransform = "100%";
        connectTransform = "100%";
        //await JS.InvokeVoidAsync("registerOutsideClickReferal", DotNetObjectReference.Create(this));
    }

    private void UpdateConnectTransform()
    {
        connectTransform = "0%";
        referalTransform = "100%";
        settingsTransform = "100%";
    }
}