@inherits LayoutComponentBase
<link href="static/css/auth.css" rel="stylesheet" />

<div id="root">
    <div class="css-1x2rcon">
        <div class="scrollbar-hide css-1vru7qh">
            <div class="css-wdz6e6"><img src="./logo.svg" alt="logo" style="width: 44px;" /><a class="link" href="https://theironmarkets.com">Back to homepage</a></div>
            @Body
</div>
      </div>
  </div>
  @* <Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" /> *@
@code {

}
