<footer class="bg-[#05080b]" aria-labelledby="footer-heading">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="mx-auto max-w-[1545px] px-6 lg:px-8 pt-[16px] pb-[120px]">
        <div>
            <div class="w-[100%] justify-between mt-[72px] grid gap-[32px] md:flex" style="white-space: nowrap;">
                <div>
                    <div>
                        <h3 class="text-md font-medium leading-6 text-[#5D5F66]">About</h3>
                        <ul role="list" class="mt-6 space-y-4">
                            <li><a href="/about" class="text-md leading-6 text-gray-300 hover:text-white">About us</a></li>
                            <li><a href="/why-us" class="text-md leading-6 text-gray-300 hover:text-white">Why The Iron Markets</a></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div>
                        <h3 class="text-md font-medium leading-6 text-[#5D5F66]">Earn</h3>
                        <ul role="list" class="mt-6 space-y-4">
                            <li><a href="/crypto" class="text-md leading-6 text-gray-300 hover:text-white">Crypto</a></li>
                            <li><a href="/forex" class="text-md leading-6 text-gray-300 hover:text-white">Forex</a></li>
                            <li><a href="/stocks" class="text-md leading-6 text-gray-300 hover:text-white">Stocks</a></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div>
                        <h3 class="text-md font-medium leading-6 text-[#5D5F66]">Legal</h3>
                        <ul role="list" class="mt-6 space-y-4">
                            <li><a href="/legal" class="text-md leading-6 text-gray-300 hover:text-white">Legal</a></li>
                            <li><a href="/privacy" class="text-md leading-6 text-gray-300 hover:text-white">Privacy policy</a></li>
                            <li><a href="/terms" class="text-md leading-6 text-gray-300 hover:text-white">Terms of service</a></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div>
                        <h3 class="text-md font-medium leading-6 text-[#5D5F66]">Support</h3>
                        <ul role="list" class="mt-6 space-y-4">
                            <li><a href="/faq" class="text-md leading-6 text-gray-300 hover:text-white">FAQ</a></li>
                            <li><a href="mailto:support@theironmarkets.com" class="text-md leading-6 text-gray-300 hover:text-white">Send us an email</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-[120px]"><img class="h-6" src="" alt="Company name" style="display: none;" />💕</div>
        <div class="border-white/10 lg:flex lg:items-center lg:justify-between mt-[60px]">
            <div>
                <p class="text-[15px] leading-6 text-[#AEAFB2]">
                    The risk of loss in online trading of stocks, options, futures, currencies, foreign equities, and fixed Income can be substantial.<br />
                    <br />
                    Before trading, clients must read the relevant risk disclosure statements on our Warnings and Disclosures page. Trading on margin is only for experienced investors with high risk tolerance. You may lose more than
                    your initial investment. For additional information about rates on margin loans, please see Margin Loan Rates. Security futures involve a high degree of risk and are not suitable for all investors. The amount you
                    may lose may be greater than your initial investment.<br />
                    <br />
                    For trading security futures, read the Security Futures Risk Disclosure Statement. Structured products and fixed income products such as bonds are complex products that are more risky and are not suitable for all
                    investors. Before trading, please read the Risk Warning and Disclosure Statement.
                </p>
            </div>
        </div>
        <div class="border-white/10 md:flex md:items-center md:justify-between mt-[64px]"><p class="text-md leading-5 text-[#AEAFB2] md:order-1 md:mt-0">© 2016 - 2025 The Iron Markets, Inc. All rights reserved.</p></div>
    </div>
</footer>