@inherits LayoutComponentBase

<div id="root">
            <div>
                <div style="background-color: rgb(5, 8, 11);">
                    <header class="py-10">
                        <div class="mx-auto max-w-[1545px] px-4 sm:px-6 lg:px-8">
        <NavMenu />
                </div>
            </header>
        </div>
       
            @Body
       
        <Footer />
    </div>
</div>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
