<nav class="relative z-50 flex justify-between">
    <div class="flex items-center md:gap-x-12">
        <a href="/" aria-label="Home"><img src="./logo.svg" alt="" class="h-10 w-auto" /></a>
        <div class="hidden md:flex md:gap-x-6">
            <a href="/about" class="inline-block rounded-lg px-2 py-1 text-sm text-white hover:bg-slate-100 hover:text-slate-900">About us</a>
            <a href="/faq" class="inline-block rounded-lg px-2 py-1 text-sm text-white hover:bg-slate-100 hover:text-slate-900">FAQ</a>
            <a href="/why-us" class="inline-block rounded-lg px-2 py-1 text-sm text-white hover:bg-slate-100 hover:text-slate-900">Why us</a>
        </div>
    </div>
    <div class="flex items-center gap-x-5 md:gap-x-8">
        <div class="hidden md:block"><a href="/login" class="inline-block rounded-lg px-2 py-1 text-sm text-white hover:bg-slate-100 hover:text-slate-900">Log in</a></div>
        <a href="/register">
            <button class="group inline-flex items-center justify-center rounded-full py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-[#0C6CF2] text-white hover:text-slate-100 hover:bg-blue-600 active:bg-blue-800 active:text-blue-100 focus-visible:outline-blue-600">
                <span>Get started <span class="hidden lg:inline">today</span></span>
            </button>
        </a>
        <div class="-mr-1 md:hidden">
            <div data-headlessui-state="">
                <button class="relative z-10 flex h-8 w-8 items-center justify-center [&amp;:not(:focus-visible)]:focus:outline-none"
                        aria-label="Toggle Navigation"
                        type="button"
                        aria-expanded="false"
                        data-headlessui-state=""
                        id="headlessui-popover-button-:r0:">
                    <svg aria-hidden="true" class="h-3.5 w-3.5 overflow-visible stroke-slate-700" fill="none" stroke-width="2" stroke-linecap="round">
                        <path d="M0 1H14M0 7H14M0 13H14" class="origin-center transition"></path>
                        <path d="M2 2L12 12M12 2L2 12" class="origin-center transition scale-90 opacity-0"></path>
                    </svg>
                </button>
            </div>
            <div style="position: fixed; top: 1px; left: 1px; width: 1px; height: 0px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap; border-width: 0px; display: none;"></div>
        </div>
    </div>
</nav>