@inject UserManager<User> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inherits LayoutComponentBase

<link href="static/css/dashboard.css" rel="stylesheet" />
<link href="static/css/index-CukNxZR_.css" rel="stylesheet"/>

<div id="root">
    <div class="css-10q2b6j">

        <div class="css-6ymeda"></div>
        @* Everything goies here *@
        <GenerateQueryCodeTab />
        <div class="css-6ymeda"></div>
        <SettingsTab2 user="user" />
        <div class="css-1598bpk">
            @if(user is null)
            {
                <a href="/login" class="css-1j8v2xk">
                    <div class="css-1j8v2xk">
                        <p>Log in</p>
                    </div>
                </a>
            }
            else{
                <SomeSideBar user="user" />
            }
            @* Main Page Content *@
            @Body
        </div>
    </div>
</div>
@code {
    private string settingsTransform = "100%";

    private User? user;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var username = authState.User.Identity?.Name;

        if (!string.IsNullOrEmpty(username))
        {
            user = await UserManager.FindByNameAsync(username);
            
        }
    }

    }
