
@inherits LayoutComponentBase
<link href="static/css/dashboard.css" rel="stylesheet" />
<link href="static/css/index-CukNxZR_.css" rel="stylesheet"/>

<div id="root">
      <div class="css-10q2b6j">
          <div class="css-6ymeda"></div>
          @* Everything goies here *@
        <SettingsTab />
        <div class="css-6ymeda"></div>
        <ConnectWalletTab />
        <div class="css-6ymeda"></div>
        <GenerateQueryCodeTab />
        <div class="css-6ymeda"></div>
        <ReferalTab />
        <SideBarMenu />
        <SettingsTab2 />
        <div class="css-1598bpk">
            <SomeSideBar />

            @* Main Page Content *@
            @Body
        </div>
      </div>
</div>
@code {

}
