/*! CSS Used from: Embedded */
.css-v6puf8 input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    width: 100%;
}

    .css-v6puf8 input::placeholder {
        color: rgba(255, 255, 255, 0.5);
        font-size: 16px;
        line-height: 18px;
        font-weight: 600;
    }

.css-bp1l2g {
    box-sizing: border-box;
    margin: 0px !important;
}

    .css-bp1l2g .search_box {
        position: sticky;
        top: 0px;
        left: 0px;
        z-index: 100;
        background: rgb(30, 33, 36);
        padding: 6px;
        border: none;
        outline: none;
        margin: 0px !important;
    }

        .css-bp1l2g .search_box div {
            border: none !important;
            outline: none !important;
            margin: 0px !important;
        }

    .css-bp1l2g .scrollable {
        display: flex;
        flex-direction: column;
        gap: 0px;
        width: 100%;
        box-sizing: border-box;
        max-height: calc(-100px + 88vh);
        overflow: scroll;
        padding: 6px;
        margin: 0px !important;
    }

        .css-bp1l2g .scrollable div {
            cursor: pointer;
            transition: 100ms ease-out;
            padding: 10px 12px;
            border-radius: 8px;
            display: grid;
            margin: 0px !important;
        }

            .css-bp1l2g .scrollable div .asset_item {
                font-size: 14px;
                gap: 6px;
                max-width: max-content;
                cursor: pointer;
                -webkit-box-pack: justify;
                justify-content: space-between;
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                background: transparent;
            }

            .css-bp1l2g .scrollable div .asset_item_right {
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                gap: 12px;
            }

                .css-bp1l2g .scrollable div .asset_item_right p:first-of-type {
                    font-size: 14px;
                    white-space: nowrap;
                    color: rgb(255, 255, 255);
                    line-height: 18px;
                    font-weight: 500;
                }

                .css-bp1l2g .scrollable div .asset_item_right p:last-of-type {
                    font-size: 14px;
                    white-space: nowrap;
                    color: rgba(255, 255, 255, 0.5);
                    line-height: 18px;
                    font-weight: 600;
                }

            .css-bp1l2g .scrollable div:hover {
                background-color: rgba(0, 0, 0, 0.2);
            }

            .css-bp1l2g .scrollable div.selected {
                background-color: rgba(0, 0, 0, 0.2);
            }

            .css-bp1l2g .scrollable div p {
                font-size: 14px;
                white-space: nowrap;
                color: rgb(255, 255, 255);
                line-height: 18px;
                font-weight: 500;
            }

@@media (max-width: 768px) {
    .css-bp1l2g .scrollable {
        padding-bottom: 200px;
    }
}

.css-g70r1a {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 4px;
    width: 100%;
    padding: 10px 12px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    box-sizing: border-box;
}

    .css-g70r1a img {
        width: 16px;
        height: 16px;
    }

    .css-g70r1a input {
        line-height: 18px;
        color: rgb(255, 255, 255);
        border: none;
        outline: none;
        background: transparent;
        font-weight: 500;
        width: 100%;
    }

        .css-g70r1a input::placeholder {
            color: rgba(255, 255, 255, 0.75);
            font-weight: 500;
        }

.css-cg9ir8 {
    display: none;
    position: absolute;
    left: 0px;
    max-width: 80%;
    min-width: 80%;
    z-index: 101;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
    transition: transform 200ms ease-out, opacity 100ms ease-out;
    max-height: 300px;
    overflow-y: auto;
    transform: translateY(0px);
    opacity: 1;
    pointer-events: auto;
    margin-top: 4px;
    border-radius: 8px;
    background: rgb(30, 33, 36) !important;
    backdrop-filter: blur(200px) !important;
}

    .css-cg9ir8.full {
        max-width: 100%;
        width: 100%;
    }
