<div class="css-x7ktbl">
    <p class="account_section_title">Recent Activity</p>
    <div class="activity_wrapper">
        <span class="activity">
            <p class="activity_title">Welcome to our platform!</p>
            <p class="activity_date">07/04/2025</p>
        </span>
    </div>
</div>