<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    @* <link rel="stylesheet" href="bootstrap/bootstrap.min.css" /> *@
    @* <link rel="stylesheet" href="app.css" /> *@
    <link rel="stylesheet" href="TSM.TradingWebApp.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    
    <meta property="og:title" content="The Iron Markets - Trade With Ease" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="The Iron Markets" />
    <meta property="og:url" content="index.html" />
    <meta property="og:image" content="og-image.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:type" content="image/png" />
    <meta name="description" content="Modern Trading Firm. Unlock Access to a World of Trading Digital Assets" />
    <link rel="manifest" href="manifest.json" />
    <script src="https://player.vimeo.com/api/player.js"></script>
    <title>The Iron Markets</title>
    @* <script defer="defer" src="static/js/main.d2bd7f82.js"></script> *@
    <link href="static/css/main.css" rel="stylesheet" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="static/js/counter.js"></script>
</body>

</html>
